body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

#carousel-image {
    width: 100%;
    height: auto;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6a7785;
    color: white;
}

button:hover {
    background-color: #4e749c;
}